/* Full screen */

.grid-background{
    position:fixed;
    inset:0;
    z-index:-3;

    background:
    linear-gradient(rgba(255,255,255,.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,.03) 1px, transparent 1px);

    background-size:40px 40px;
}

/* Aurora */

.aurora{

    position:fixed;

    width:650px;

    height:650px;

    border-radius:50%;

    filter:blur(140px);

    z-index:-2;

    opacity:.25;

    animation:float 14s ease-in-out infinite;

}

.aurora1{

    background:#2563eb;

    top:-220px;

    left:-180px;

}

.aurora2{

    background:#7c3aed;

    bottom:-250px;

    right:-150px;

    animation-delay:5s;

}

@keyframes float{

0%{

transform:translate(0,0);

}

50%{

transform:translate(60px,-50px);

}

100%{

transform:translate(0,0);

}

}
