.scroll-top{

    position:fixed;

    bottom:35px;

    right:35px;

    width:55px;

    height:55px;

    border:none;

    border-radius:50%;

    background:linear-gradient(
        135deg,
        #2563eb,
        #7c3aed
    );

    color:white;

    font-size:20px;

    cursor:pointer;

    display:flex;

    justify-content:center;

    align-items:center;

    box-shadow:0 10px 30px rgba(37,99,235,.35);

    transition:.35s;

    opacity:0;

    visibility:hidden;

    transform:translateY(20px);

    z-index:999;
}

.scroll-top.show{

    opacity:1;

    visibility:visible;

    transform:translateY(0);

}

.scroll-top:hover{

    transform:translateY(-6px);

    box-shadow:0 15px 35px rgba(37,99,235,.5);

}
